@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body {
  font-family: 'Montserrat Alternates', sans-serif !important;
  background-color: #131722  !important;
  color: #fff !important;
}
.bgLight
{
  background-color: #24baef !important;
}
a,a:hover,Link,Link:hover
{
  color: #fff;
  text-decoration: none;
}

.form-control
{
  background: transparent !important;
  color: #fff !important;
}

.text-grey
{
  color: #949cb0;
}
.cursorPointer
{
  cursor: pointer  !important;
}
.bg-teal
{
  background-color: #24baef;
  border-radius: 5px;
}
.brdrGrey
{
    background-color: #a8a8a83d;
    height: 1px;
}

